img {
	margin-top: 20px;
}
#button{
	background-color: #5001C7;
	width: 80%;
}
#centre{
	margin-top: 50px;
}
#txt{
	padding-top: 10px;
	padding-bottom: 11px;
	font-size: 130%;
	color: white;
}
#txt:hover{
	background-color: white;
	color: black;
}
a:hover{
	text-decoration: none;
}
#info {
	color: white;
	text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
	text-align: center;
	font-size: 150%;
}
#live{
	margin-top: 50px;
}
#logoyt{
	margin-left: 8px;
}
#twitter, #yt, #facebook{
	display: inline;
}
#logotwitter{
	margin-left: 70px;
}
#logofb{
	margin-left: 73px;
}